#container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
ion-content {
    --background: rgb(8, 19, 38);
    --background: linear-gradient(53deg, rgba(8, 19, 38, 1) 1%, rgba(17, 42, 105, 1) 33%, rgba(42, 145, 223, 1) 100%);
}
ion-card-title {
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}
ion-card {
    margin-top: 10%;
}
ion-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.logos {
    margin-top: 17%;
    display: flex;
    justify-content: center;
}
ion-img.logo {
    width: 100%;
}
ion-img.name {
    margin-left: 5px;
    height: 100px;
    width: 100px;
}
ion-footer {
    color: white;
    text-align: center;
    margin-top: auto;
}
.bios {
    height: 20px;
}
ion-toggle {
    float: right;
}
#bio {
    margin-top: 10px;
    float: left;
}
.errors {
    color: red;
    text-align: center;
    font-weight: 600;
}
.links{
    display:flex;
    flex-direction: column;
}
.link {
    text-decoration: underline;
    color: white;
    
    margin-left: 20px;
    font-size:small;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
