<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">large title</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-img class="logo" [src]="'assets/images/logo.png'"></ion-img>
    <ion-img class="name" [src]="'assets/images/appname.png'"></ion-img>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Authentification</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Identificateur</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-button>Login</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-footer collapse="fade">
        <ion-title><small>&copy; GTI - 2022</small></ion-title>
    </ion-footer>
  </div>
</ion-content>