<ion-header [translucent]="true"> </ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <div class="logos">
      <ion-img class="logo" [src]="'assets/images/logo3-light.png'"></ion-img>
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Authentification</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (submit)="login()" [formGroup]="loginForm" name="loginForm">
          <ion-item>
            <ion-label position="floating">Identificateur</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Mot de passe</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div class="bios">
            <span id="bio">Login avec empreinte</span>
            <ion-toggle formControlName="checked" color="tertiary"></ion-toggle>
          </div>
          
          <ion-button (click)="routingpage()"> validation1 page </ion-button>
          <ion-button type="submit">Login</ion-button>
          <p class="errors">{{errors}}</p>
        </form>
      </ion-card-content>
    </ion-card>
    <ion-footer collapse="fade">
      <ion-title><small>&#169; GTI - 2022</small></ion-title>
      <!-- {{ loginForm.value | json }} -->
    </ion-footer>
  </div>
</ion-content>
