ion-toolbar {
    --background: rgba(17, 42, 105, 1);
    color: white;
    height: 100px;
}
ion-content {
    --background: rgb(17,42,105);
--background: linear-gradient(23deg, rgba(17,42,105,1) 0%, rgba(88,104,145,1) 8%, rgba(124,137,170,1) 12%, rgba(218,219,219,1) 36%, rgba(244,244,244,1) 53%);
}
ion-item {
    --background: #f4f4f4;
    color: #1e6091;
}
ion-list {
    padding: 0px;
}
img {
    height: 65px;
    width: 65px;
    position: absolute;
    top: 7px;
    left: 7px;
}
ion-icon {
    color: #1e6091;
}
ion-title {
    float: right;
    width: 75%;
    height: fit-content;
    font-size: medium;
    margin-top: 30px;
    margin-right: 0px;
}
ion-avatar {
    height: 80px;
    width: 25%;
    padding: -5px;
    float: left;
}
#logout {
    border-top: 1px solid #2b3b4ee1;
}
.selected {
    --background: #e0e3e6;
}
