ion-toolbar {
    --background: rgba(36, 51, 78, 0.89);
    border-bottom: 1px solid #2b3b4ee1;
    color: white;
    height: 100px;
    
}
ion-content {
    --background: rgb(36, 51, 78);
}
ion-item {
    --background: rgb(36, 51, 78);
    color: white;
}
ion-list {
    padding: 0px;
}
img {
    height: 65px;
    width: 65px;
    position: absolute;
    top: 7px;
    left: 7px;
}
ion-icon {
    color: white;
}
ion-title {
    float: right;
    width: 75%;
    height:fit-content;
    font-size: medium;
    margin-top: 30px;
    margin-right: 0px;
    
}
ion-avatar {
    height: 80px;
    width: 25%;
    padding: -5px;
    float:left;
}
#logout {
    border-top: 1px solid #2b3b4ee1;
}
.selected {
    --background: #1da1f2;
}
