<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>username</ion-title>
      <ion-avatar>
        <img src="assets/images/user-avatar.png">
      </ion-avatar>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
        <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
          <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="logout()">
          <ion-icon slot="start" [ios]="'archive-outline'" [md]="'archive-sharp'"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>