<ion-content fullscreen="true">
  <div class="container">
    <div class="logos">
      <ion-img class="logo" [src]="'assets/icon/finger.webp'"></ion-img>
    </div>
    <h2><b>Association</b></h2>
    <h4>Toucher le capteur pour associer votre empreinte à l'application</h4>
  </div>
</ion-content>
<ion-footer>
  <ion-button
    fill="outline"
    expand="block"
    shape="round"
    color="white"
    (click)="setCredential()"
  >
    Set Credential
  </ion-button>
  <ion-button
    fill="outline"
    expand="block"
    shape="round"
    color="white"
    (click)="plusTard3()"
  >
    PLUS TARD
  </ion-button>
</ion-footer>
