ion-toolbar {
    --background: #243447;
    color: aliceblue;
    border-bottom: 1px solid #455363;
}
ion-content {
    --background: #243447;
}
#container {
    color: aliceblue;
}
ion-item {
    --background: #243447da;
    color: aliceblue;
}
ion-list {
    padding: 0px;
}
ion-label {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
    border-bottom: 2px solid #546d8bab;
    width: 80%;
}
.id {
    font-weight: bold;
}
.date {
    font-weight: bold;
    margin-left: 5px;
    color: #c0c0c0;
}
