<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Simulation</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


  <div id="container">
    <form (submit)="submit()" [formGroup]="this.simForm" name="simForm">

      <ion-item lines="none">
        <ion-label position="floating">Nom</ion-label>
        <ion-input formControlName="nom"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.nom">
        <div class="error-message"
          *ngIf="simForm.get('nom').hasError(validation.type) && (simForm.get('nom').dirty || simForm.get('nom').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item lines="none">
        <ion-label position="floating">Prénom</ion-label>
        <ion-input formControlName="prenom"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.prenom">
        <div class="error-message"
          *ngIf="simForm.get('prenom').hasError(validation.type) && (simForm.get('prenom').dirty || simForm.get('prenom').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item class="bubble">
        <ion-label>Type piéce identité</ion-label>
        <ion-select placeholder="Choisir" formControlName="typePiece">
          <ion-select-option *ngFor="let v of pieceOptions" [value]='v'>{{v}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.typePiece">
        <div class="error-message"
          *ngIf="simForm.get('typePiece').hasError(validation.type) && (simForm.get('typePiece').dirty || simForm.get('typePiece').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item lines="none">
        <ion-label position="floating">Numero piéce identité</ion-label>
        <ion-input inputmode="numeric" formControlName="numPiece" [maxlength]="maxNumPiece()"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.numPiece">
        <div class="error-message"
          *ngIf="simForm.get('numPiece').hasError(validation.type) && (simForm.get('numPiece').dirty || simForm.get('numPiece').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item lines="none">
        <ion-label position="floating">Numero de compte</ion-label>
        <ion-input inputmode="numeric" maxlength="13" formControlName="numCompte">
        </ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.numCompte">
        <div class="error-message"
          *ngIf="simForm.get('numCompte').hasError(validation.type) && (simForm.get('numCompte').dirty || simForm.get('numCompte').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item lines="none">
        <ion-label position="floating">GSM</ion-label>
        <ion-input inputmode="tel" maxlength="8" formControlName="gsm"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.gsm">
        <div class="error-message"
          *ngIf="simForm.get('gsm').hasError(validation.type) && (simForm.get('gsm').dirty || simForm.get('gsm').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item button="true" id="dateCompte" class="bubble">
        <ion-label>Date ouverture de compte</ion-label>
        <ion-text slot="end">{{ simulation.dateCompte | date:"dd/MM/yyyy" }}</ion-text>
        <ion-modal [breakpoints]="[0.1, 0.5, 1]" [initialBreakpoint]="0.5" trigger="dateCompte">
          <ng-template>
            <ion-datetime #modalDatetime1 presentation="date" formControlName="dateCompte"
              (ionChange)="simulation.dateCompte = formatDate(modalDatetime1.value)">
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.dateCompte">
        <div class="error-message"
          *ngIf="simForm.get('dateCompte').hasError(validation.type) && (simForm.get('dateCompte').dirty || simForm.get('dateCompte').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item button="true" id="dateNais" class="bubble">
        <ion-label>Date de naissance</ion-label>
        <ion-text slot="end">{{ simulation.dateNaissance | date:"dd/MM/yyyy" }}</ion-text>
        <ion-modal [breakpoints]="[0.1, 0.5, 1]" [initialBreakpoint]="0.5" trigger="dateNais">
          <ng-template>
            <ion-datetime #modalDatetime presentation="date" formControlName="dateNaissance"
              (ionChange)="simulation.dateNaissance = formatDate(modalDatetime.value)">
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.dateNaissance">
        <div class="error-message"
          *ngIf="simForm.get('dateNaissance').hasError(validation.type) && (simForm.get('dateNaissance').dirty || simForm.get('dateNaissance').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item class="bubble">
        <ion-label>Situation familiale</ion-label>
        <ion-select placeholder="Choisir" formControlName="sitFamiliale">
          <ion-select-option *ngFor="let v of familialeOptions" [value]='v'>{{v}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.sitFamiliale">
        <div class="error-message"
          *ngIf="simForm.get('sitFamiliale').hasError(validation.type) && (simForm.get('sitFamiliale').dirty || simForm.get('sitFamiliale').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item class="bubble">
        <ion-label>Situation medicale</ion-label>
        <ion-select placeholder="Choisir" formControlName="sitMedicale">
          <ion-select-option *ngFor="let v of medicaleOptions" [value]='v'>{{v}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.sitMedicale">
        <div class="error-message"
          *ngIf="simForm.get('sitMedicale').hasError(validation.type) && (simForm.get('sitMedicale').dirty || simForm.get('sitMedicale').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item class="bubble">
        <ion-label>Statut professionnel</ion-label>
        <ion-select placeholder="Choisir" formControlName="sitProfessionnel">
          <ion-select-option *ngFor="let v of emploiOptions" [value]='v'>{{v}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.sitProfessionnel">
        <div class="error-message"
          *ngIf="simForm.get('sitProfessionnel').hasError(validation.type) && (simForm.get('sitProfessionnel').dirty || simForm.get('sitProfessionnel').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item lines="none">
        <ion-label position="floating">Salaire mensuel en DT</ion-label>
        <ion-input inputmode="decimal" type="number" formControlName="salaire"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.salaire">
        <div class="error-message"
          *ngIf="simForm.get('salaire').hasError(validation.type) && (simForm.get('salaire').dirty || simForm.get('salaire').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item lines="none">
        <ion-label position="floating">Autre revenu en DT</ion-label>
        <ion-input inputmode="decimal" type="number" formControlName="autreRevenu"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.autreRevenu">
        <div class="error-message"
          *ngIf="simForm.get('autreRevenu').hasError(validation.type) && (simForm.get('autreRevenu').dirty || simForm.get('autreRevenu').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item class="bubble">
        <ion-label>Situation logement</ion-label>
        <ion-select placeholder="Choisir" formControlName="sitLogement">
          <ion-select-option *ngFor="let v of logementOptions" [value]='v'>{{v}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.sitLogement">
        <div class="error-message"
          *ngIf="simForm.get('sitLogement').hasError(validation.type) && (simForm.get('sitLogement').dirty || simForm.get('sitLogement').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item class="bubble">
        <ion-label>Type de credit</ion-label>
        <ion-select placeholder="Choisir" formControlName="typeCredit">
          <ion-select-option *ngFor="let v of typesCredit" [value]='v.idType'>{{v.libcredit}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.typeCredit">
        <div class="error-message"
          *ngIf="simForm.get('typeCredit').hasError(validation.type) && (simForm.get('typeCredit').dirty || simForm.get('typeCredit').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item lines="none">
        <ion-label position="floating">Montant en DT</ion-label>
        <ion-input inputmode="decimal" type="number" formControlName="montant"></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.montant">
        <div class="error-message"
          *ngIf="simForm.get('montant').hasError(validation.type) && (simForm.get('montant').dirty || simForm.get('montant').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item lines="none">
        <ion-label position="floating">Nombre d'écheances</ion-label>
        <ion-input type="number" inputmode="numeric" maxlength="3" formControlName="nbreEcheance">
        </ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.nbreEcheance">
        <div class="error-message"
          *ngIf="simForm.get('nbreEcheance').hasError(validation.type) && (simForm.get('nbreEcheance').dirty || simForm.get('nbreEcheance').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-item class="bubble">
        <ion-label>Par</ion-label>
        <ion-select placeholder="Choisir" formControlName="unite">
          <ion-select-option *ngFor="let v of echeanceOptions" [value]='v'>{{v}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.unite">
        <div class="error-message"
          *ngIf="simForm.get('unite').hasError(validation.type) && (simForm.get('unite').dirty || simForm.get('unite').touched)">
          &#9432; {{ validation.message }}
        </div>
      </ng-container>

      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button type="submit" shape="round">Simuler</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <!-- testing stuff -->
    <ng-template>
      <div>
        image
      </div>
    </ng-template>

  </div>
</ion-content>