<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <h2>Timeline</h2>

    <h5 style="margin-top: 5em">Horizontal - Alternate Align</h5>
    <!-- <p-timeline
      [value]="horizontalEvents"
      layout="horizontal"
      align="alternate"
    > -->
    <ng-template pTemplate="content" let-event>
      {{ event }}
    </ng-template>
    <ng-template pTemplate="opposite" let-event> &nbsp; </ng-template>
    <!-- </p-timeline> -->
  </div>
</ion-content>
